@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Student Details";
}
@model Student

<div class="card text-center" style="width: 40rem; margin: auto;">
    <div class="card-body">
        <h5 class="card-title">New Student</h5>
        <form method="post" class="py-3" onsubmit="Create()">
            <div class="form-group row">
                <label asp-for="name" class="col-sm-3 col-form-label">Full Name</label>
                <div class="col-sm-9">
                    @Html.DisplayName(Model?.name)
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="age" class="col-sm-3 col-form-label">Age</label>
                <div class="col-sm-9">
                    @Html.DisplayName(Model?.age.ToString())
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <a href="/Student" class="">Go Back</a>
            </div>
        </form>
    </div>
</div>